@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 14rem;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    }

    .sidebar .navbar {
        display: block;
        padding-top: 1rem;
    }

    .sidebar .navbar-brand {
        font-size: 1.5rem;
        padding-top: 0;
        padding-bottom: 0.65rem;
    }

    .sidebar .user-info {
        margin-top: 0.75rem;
        margin-bottom: 1.75rem;
    }

    .sidebar .navbar-brand, .sidebar .user-info {
        margin-left: 1rem;
    }

    .sidebar .user-icon {
        padding-left: 0rem;
    }

    .sidebar .user-name {
        padding-top: 0.45rem;
    }

    .user-name, .user-role {
        padding-left: .5rem;
        font-weight: 500;
    }

    .sidebar .user-options a {
        color: #ffffff;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        border-radius: 2px;
    }

        .sidebar .user-options a:hover {
            background-color: #ffffff;
            color: #130d34
        }

    .sidebar .fas {
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 1rem;
        margin-left: 1rem;
        position: relative;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
                font-weight: 600;
            }

            .sidebar .hubs .nav-item a.active {
                background-color: rgba(255,255,255,0);
            }

                /* Triangle pointing to selected hub from the right */
                .sidebar .hubs .nav-item a.active::after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 194px;
                    height: 0;
                    top: 5px;
                    border-style: solid;
                    border-width: 15px 15px 15px 0;
                    border-color: transparent #ffffff transparent transparent;
                }

                .sidebar .hubs .nav-item:first-of-type a.active::after {
                    top: 21px;
                }

            .sidebar .hubs .nav li:first-of-type {
                margin-top: 30px;
            }

            /* White bar to the left of the hub currently hovered on */
            .sidebar .nav-item a:hover::before {
                content: "";
                display: block;
                position: absolute;
                height: 45.2px;
                width: 10px;
                left: -19px;
                border-radius: 4px;
                border-style: solid;
                border-width: 0 7px 0 0;
                border-color: transparent #ffffff transparent transparent;
            }

            .sidebar .nav-item a:hover {
                color: white;
            }

    .sidebar .auth-options-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

    .sidebar .auth-options-item:first-of-type {
        padding-top: 1rem;
    }

    .sidebar .auth-options-item:last-of-type {
        padding-bottom: 1rem;
    }

        .sidebar .auth-options-item a {
            color: #d7d7d7;
            border-radius: 4px;
            align-items: center;
            line-height: 3rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .sidebar .auth-options-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
            font-weight: 600;
        }

        .sidebar .auth-options-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.sidebar-collapse {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar-collapse .top-row {
        background-color: rgba(0,0,0,0.4);
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }

    .sidebar-collapse .navbar {
        display: block;
        padding-top: 1rem;
    }

    .sidebar-collapse .user-options a {
        display: block;
        color: #ffffff;
        padding: 0.25rem 0.25rem;
        border-radius: 2px;
        margin-bottom: 0.4rem;
    }

    .sidebar-collapse .user-options a:first-of-type {
        margin-top: 0.5rem;
    }

        .sidebar-collapse .user-options a:hover {
            background-color: #ffffff;
            color: #130d34
        }

    .sidebar-collapse .nav-item {
        font-size: 0.9rem;
        padding-bottom: 1rem;
        margin-left: 1rem;
        position: relative;
    }

        .sidebar-collapse .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar-collapse .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar-collapse .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar-collapse .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
                font-weight: 600;
            }

            .sidebar-collapse .hubs .nav-item a.active {
                background-color: rgba(255,255,255,0);
            }

                /* Triangle pointing to selected hub from the right */
                .sidebar-collapse .hubs .nav-item a.active::after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 42px;
                    height: 0;
                    top: 4px;
                    border-style: solid;
                    border-width: 10px 10px 10px 0;
                    border-color: transparent #ffffff transparent transparent;
                }

                .sidebar-collapse .hubs .nav-item:first-of-type a.active::after {
                    top: 20px;
                }

            .sidebar-collapse .hubs .nav li:first-of-type {
                margin-top: 30px;
            }

            /* White bar to the left of the hub currently hovered on */
            .sidebar-collapse .nav-item a:hover::before {
                content: "";
                display: block;
                position: absolute;
                height: 28.8px;
                width: 10px;
                left: -19px;
                border-radius: 4px;
                border-style: solid;
                border-width: 0 6px 0 0;
                border-color: transparent #ffffff transparent transparent;
            }

            .sidebar-collapse .nav-item a:hover {
                color: white;
            }

    .sidebar-collapse .auth-options a {
        display: block;
        color: #ffffff;
        padding: 0.25rem 0.25rem;
        border-radius: 2px;
        margin-bottom: 1.5rem;
    }

        .sidebar-collapse .auth-options a:first-of-type {
            margin-top: 2rem;
        }

        .sidebar-collapse .auth-options a:hover {
            background-color: #ffffff;
            color: #130d34
        }

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.new-thread {
    background-color: #2ECC40;
    color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

    .new-thread:hover {
        background-color: #29b339;
        color: #dddddd;
        text-decoration: none;
    }

.threads .card {
    color: #000000;
    border-radius: 0;
    border-width: 0 0 1px 0;
}

    .threads .card:hover, .threads .active {
        border-width: 0;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
        z-index: 4;
    }

.user-link {

}

.post-options {
    color: #0d1138;
}

.post-options:hover {
    background-color: #0d1138;
    border-radius: 4px;
    border-width: 0;
    color: #ffffff;
    text-decoration: none;
}

.scroller {
    scrollbar-color: #0d1138 #ffffff; /* Firefox */
    scrollbar-width: thin; /* Firefox */
}

.fas {
    width: 1.5rem;
}

.content {
    padding-top: 2rem;
    height: 100vh;
}

.forum-content {
    height: 100%;
}

.nav-link {
    display: block;
    padding: 0;
}

.navbar-toggler {
    color: rgba(255, 255, 255, 1) !important;
    border-width: 0;
}

.navbar-toggler:hover {
    color: #06153c !important;
    background-color: rgba(255, 255, 255, 1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 225px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .sidebar-collapse {
        width: 65.3333px;
        height: 100vh;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .navbar-toggler {
        padding: 0.5rem 0.5rem;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: none;
    }
}

/* Custom CSS */
.margin-right {
    margin-right: 2rem;
}

.width-2rem {
    width: 2rem;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-vertical {
    padding-top: 0;
    padding-bottom: 0;
}

.no-margin {
    margin: 0;
}

.c-h4 {
    font-size: 1.5rem;
}

.c-h6 {
    font-size: 1rem;
}

.c-h7 {
    font-size: 0.75rem;
}

.c-h4, .c-h6, .c-h7 {
    line-height: 1.2;
}

.col-20 {
    flex: 0 0 20%;
}

.overflow-scroll {
    overflow-y: scroll;
    overflow-x: hidden;
}

.profile-pic {
    width: 50px;
    height: 50px;
    font-size: 50px;
    padding: 0;
    display: unset !important;
    text-align: center;
}

/* New CSS */
:root {
    --c-blue-navy: #0d1138;
}

button.this-btn {
    border-width: 0;
    border-radius: 4px;
}

button.this-btn-navyblue {
    background-color: white;
    color: var(--c-blue-navy);
}

button.this-btn-navyblue:hover {
    background-color: var(--c-blue-navy);
    color: white;
}

.c-gray-light {
    color: #888;
}
